<!DOCTYPE html>
<html>
<head>
    <title>位置权限用户分配</title>
    #parse("sys/header.html")
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/selectztree.css">
</head>
<body>
<div id="rrapp" v-cloak id="show">
    <!--.container （固定宽度）或 .container-fluid （100% 宽度）-->
    <div class="container-fluid">
        <div  class="panel panel-default">
            <div class="panel-heading">根据用戶分配权限</div>
            <div class="row">
                <div class="col-md-6" style="height:auto">
                    <form class="form-horizontal" style="width: 100%">
                        <div class="col-md-12" >
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <input class="form-control" readonly id="organName" v-model="q.bName" placeholder="选择组织机构" @click="showMenuL"/>
                                    <input class="form-control" readonly id="organId" v-model="q.bapid" type="hidden"/>
                                    <input class="form-control" readonly id="organList" v-model="q.organList" type="hidden"/>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" id="yfpName" placeholder="用户名"/>
                                </div>
                                <div class="col-sm-3">
                                    <button class="layui-btn" type="button" @click="queryL"><i class="layui-icon">&#xe615;</i>查 询</button>
                                </div>
                            </div>
                            <table id="jqGrid"></table>
                            <div id="jqGridPager"></div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="col-md-8" >
                        <div class="form-group" style="vertical-align: center">
                            <div class="col-sm-2 control-label" style="font-size: 18px; margin-bottom: 10px;">位 置</div>
                            <div class="selectztree ztree" id="weizhi" style="width: 70%">
                                <div class="col-sm-10" v-show="loc">
                                    <ul id="locationTree" ></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="position:absolute;right:20%;bottom:0;">
                        <div class="form-group" style="vertical-align: bottom">
                            <button class="layui-btn" @click="save" type="button">确 认</button>
                        </div>
                    </div>
                    <div class="col-md-2" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 选择机构 -->
<div id="menuLayerL" class="menuContent" style="display:none; position: absolute;">
    <ul id="allorganTree" class="ztree" style="margin-top:0; width:250px;"></ul>
</div>

<script src="${rc.contextPath}/statics/js/user/userLocation.js?_${date.systemTime}"></script>
</body>
</html>